<ion-content>
  <ion-grid no-padding>
    <ion-row no-padding>
      <ion-col size-sm="12" size-md="6" offset-md="3" size-lg="4" offset-lg="4" no-padding>
        <h3>Página de Login</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button (click)="login()">
    <ion-icon slot="start" name="add"></ion-icon>
    entrar
  </ion-button>
  <ion-button (click)="logout()">
    <ion-icon slot="start" name="add"></ion-icon>
    Sair
  </ion-button>
  <ion-button (click)="register()">
    <ion-icon slot="start" name="add"></ion-icon>
    Registrar
  </ion-button>
</ion-content>