// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

$bolds: 300 400 500 600 700 800;
@for $i from 1 through 6 {
    .bold-#{nth($bolds, $i)} {
        font-weight: nth($bolds, $i);
    }
}

// ion-menu{
//     ion-item{
//         cursor: pointer;
//     }
// }
